<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">What's this all about?</h5>
        <p class="grey-text text-lighten-4">This is <b>MyBudgetApp!</b> An amazing way to find all sorts of events on New Zealand.</p>
        <p class="grey-text text-lighten-4">This platform uses an amazing <a href="https://github.com/juanroldan1989/event_finda_ruby" target="_blank">Ruby gem</a> to retrieve venues from EventFinda's API</p>
        <p class="grey-text text-lighten-4">Both App and Ruby gem have been developed and maintained by <a href="https://juanroldan.com.ar/" target="_blank">Juan Roldan</a></p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © MyBudgetApp. All rights reserved. 2017
    </div>
  </div>
</footer>
