<% collection.in_groups_of(3).each do |group| %>

  <div class="row">
  <% group.each do |event| %>
    <% if event %>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <img src="<%= event[:image_urls].first %>">
            <span class="card-title"><%= event[:title] %></span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p><%= event[:description] %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>

<% end %>
