<!-- http://materializecss.com/cards.html -->

<div id="header"></div>

<div class="container">
  <h1>Events in NZ</h1>
  <br/>
  <%= render partial: "shared/filters", locals: { section: "events" } %>
  <br/>
  <div id="loader"></div>

  <div id="events">
    <%= render partial: "events" %>
  </div>
</div>


<!-- For JS filters -->
<div id="section" hidden>events</div>
<!-- For JS filters -->

<%= render "shared/footer" %>
