<div data-role="header" data-position="fixed" data-theme="a">
  <a href="/" data-rel="back" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l">Back</a>
    <h1>Events in NZ</h1>
</div><!-- /header -->

<div data-role="page" data-title="Events in NZ">
  <div role="main" class="ui-content jqm-content jqm-fullwidth">

    <%= render partial: "shared/filters", locals: { section: "events" } %>

    <br/>

    <div id="loader"></div>

    <ul id="events" data-role="listview" data-inset="false">
      <%= render partial: "events" %>
    </ul>

  </div><!-- /content -->
</div><!-- /page -->

<!-- For JS filters -->
<div id="section">events</div>
<!-- For JS filters -->
