<li>
  <a href="/deals/<%= deal.slug %>" data-transition="slide">
    <img src="<%= deal.image_urls.first %>" class="listing">
    <h2><%= deal.title.html_safe %></h2>
    <p><%= deal_price_text(deal) %></p>
  </a>
</li>
