<div data-role="footer" data-position="fixed" data-theme="a">
  <div data-role="navbar">
    <ul>
      <li><a href="/" data-prefetch="true" data-transition="slide">Deals in Auckland</a></li>
      <li><a href="/deals/single" data-prefetch="true" data-transition="slide">Single Deals</a></li>
      <li><a href="/deals/combined" data-prefetch="true" data-transition="slide">Combined Deals</a></li>
    </ul>
  </div><!-- /navbar -->
</div><!-- /footer -->
