<div data-role="header" data-position="fixed" data-theme="a">
  <a href="/" data-rel="back" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l">Back</a>
    <h1>Home</h1>
</div><!-- /header -->

<!-- http://demos.jquerymobile.com/1.4.5/tabs/ -->

<div data-role="page" data-title="Deals in Auckland">
  <div role="main" class="ui-content jqm-content jqm-fullwidth">

    <div class="ui-field-contain">
      <fieldset data-role="controlgroup" data-type="horizontal">
        <input type="radio" name="radio-choice-v-1" id="radio-choice-v-1a" value="on" checked="checked">
        <label for="radio-choice-v-1a">< $50</label>
        <input type="radio" name="radio-choice-v-1" id="radio-choice-v-1b" value="off">
        <label for="radio-choice-v-1b">< $100</label>
        <input type="radio" name="radio-choice-v-1" id="radio-choice-v-1c" value="other">
        <label for="radio-choice-v-1c">< $150</label>
        <input type="radio" name="radio-choice-v-1" id="radio-choice-v-1d" value="other">
        <label for="radio-choice-v-1d">< $200</label>
      </fieldset>

      <br/>

      <fieldset data-role="controlgroup">
        <input type="checkbox" name="checkbox-v-1a" id="checkbox-v-1a">
        <label for="checkbox-v-1a">Hotels</label>
        <input type="checkbox" name="checkbox-v-1b" id="checkbox-v-1b">
        <label for="checkbox-v-1b">Tours</label>
        <input type="checkbox" name="checkbox-v-1c" id="checkbox-v-1c">
        <label for="checkbox-v-1c">Beaches</label>
        <input type="checkbox" name="checkbox-v-1d" id="checkbox-v-1d">
        <label for="checkbox-v-1d">Museums</label>
        <input type="checkbox" name="checkbox-v-1e" id="checkbox-v-1e">
        <label for="checkbox-v-1e">Golf</label>
        <input type="checkbox" name="checkbox-v-1f" id="checkbox-v-1f">
        <label for="checkbox-v-1f">Drinks & Food</label>
      </fieldset>
    </div>

    <br/>

    <ul data-role="listview" data-inset="false">

      <li data-role="list-divider" data-theme="b">Single Deals</li>
      <%= render partial: single_deals %>

      <li data-role="list-divider" data-theme="b">Combined Deals</li>
      <%= render partial: combined_deals %>
    </ul>

  </div><!-- /content -->
</div><!-- /page -->

<%= render partial: "navbar" %>
