<div data-role="header" data-position="fixed" data-theme="a">
  <a href="/" data-rel="back" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l">Back</a>
    <h1>Home</h1>
</div><!-- /header -->

<!-- http://demos.jquerymobile.com/1.4.5/tabs/ -->

<div data-role="page" data-title="Deals in Auckland">
  <div role="main" class="ui-content jqm-content jqm-fullwidth">

    <ul data-role="listview" data-inset="false">

      <li data-role="list-divider" data-theme="b">Single Deals</li>
      <%= render partial: single_deals %>

      <li data-role="list-divider" data-theme="b">Combined Deals</li>
      <%= render partial: combined_deals %>
    </ul>

  </div><!-- /content -->
</div><!-- /page -->

<%= render partial: "navbar" %>
